*{
    margin: 0;
    padding: 0;
}

.home-banner-1{
    background: url(./aab2df86a68e7f58_800x800ar.jpg) center/cover no-repeat;
    min-height: 55rem;
    position: relative;
}
.home-banner-2{
    background: url(./through-paper-bearded-man-holds-260nw-1530907493.webp) center/cover no-repeat;
    min-height: 55rem;
    position: relative;
}
.home-banner-3{
    background: url(./top-fashion-tips-and-tricks-for-men-691950_800x.jpg) center/cover no-repeat;
    min-height: 55rem;
    position: relative;
}
.home-banner-text{
    top: 50%;
    bottom: 50%;
    transform: translate(12rem,12rem);
}
.bg2{
    background: rgba(0, 0, 0, 0.726);
    top: 50%;
    bottom: 50%;
    transform: translate(0em,3.98em );
}